---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "bootstrap-theme",
        "variables",
        "mixins"
;


img {
  max-width: 100%;
}

.tmblr-full {
  padding: 30px 0;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: $givey-lightest-grey;
  font-family: 'proxima-nova-soft';
  margin-top: 90px;
}

.post {
  background-color: $givey-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding: 15px 30px;
}

.navbar {
  background-color: $givey-white;
  border-bottom: 1px solid $navbar-scrolled-border;

  h2 {
    margin: 20px;
  }
}
#footer {
  @include sizing(padding-bottom, 70px);
  @include sizing(padding-top, 110px);

  .footer-links {
    @include sizing(line-height, 14px);
    @include sizing(margin-bottom, 8px);

    a {
      @include soft-bold;
      @include sizing(font-size, 14px);
      @include sizing(margin, 0, 15px);
      color: $givey-dark-grey;
    }

  }

  .footer-sub-links {
    @include sizing(line-height, 12px);

    a {
      @include soft-medium;
      @include sizing(font-size, 14px);
      @include sizing(margin, 0, 7px, 60px);
      color: $givey-grey;
    }
  }

  .social-links {
    margin-top: 15px;
    
    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    a {
      vertical-align: middle;
    }

    .icon {
      font-size: 24px;
      padding-left: 10px;
    }

    .icon-facebook-official {
      color: $facebook-blue;
    }

    .icon-twitter {
      color: $twitter-blue;
    }

    .icon-instagram {
      color: $instagram-blue;
    }
  }
}
