---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "bootstrap-theme",
        "variables",
        "mixins",
        "footer",
        "buttons"
;

h1,
h2,
h3,
h4,
h5 {
  color: $givey-darkest-grey;
}

p,
li {
  @include soft-regular;
  @include sizing(font-size, 16px);
  color: $givey-dark-grey;
  line-height: 1.6;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

.tmblr-full {
  padding: 30px 0;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: $givey-lightest-grey;
  font-family: 'proxima-nova-soft';
  margin-top: 90px;
}

.post {
  background-color: $givey-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding: 15px 30px;
}

.navbar {
  background-color: $givey-white;
  border-bottom: 1px solid $navbar-scrolled-border;

  h2 {
    margin: 20px;
  }
}
