---
layout: default
---

<div class="home container">
  <div class="post-list">

    {% for post in paginator.posts %}
      <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 post">

          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <span class="post-meta text-muted">{{ post.date | date: "%b %-d, %Y" }}</span>
          {{ post.excerpt }}
          <p><a class="btn btn-primary btn-sm" href="{{ post.url }}" role="button">Read more <i class="icon icon-g-arrowright"></i></a></p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <nav>
      <ul class="pager">
        {% if paginator.previous_page %}
          <li class="previous-page">
            <a class="btn btn-clear" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <span class="icon icon-angle-left"></span> Newer posts
            </a>
          </li>
        {% endif %}
        {% if paginator.next_page %}
          <li class="next-page">
            <a class="btn btn-clear" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              Older posts <span class="icon icon-angle-right"></span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

  </div>

</div>
