---
layout: default
---

<div class="home container">
  <div class="post-list">

    {% for post in paginator.posts %}
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <p>
          {{ post.excerpt }}
          <p><a class="btn btn-primary" href="{{ post.url }}" role="button">Read more <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <nav>
      <ul class="pager">
        {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer posts</a></li>
        {% endif %}
        {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts</a></li>
        {% endif %}
      </ul>
    </nav>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>

</div>
