<div id="footer">
  <div class="container">
    <div class="text-center footer-links">
      <a href="https://www.givey.com/business">Businesses</a>
      <a href="https://www.givey.com/partner">Partners</a>
      <a href="https://www.givey.com/project">Projects</a>
      <a href="https://www.givey.com/charity">Charities</a>
    </div>
    <br />
    <div class="text-center footer-sub-links text-muted">
      <a href="https://www.givey.com/">Home</a>
      <a href="https://support.givey.com">FAQs</a>
      <a href="https://blog.givey.com">Blog</a>
      <a href="https://www.givey.com/about">About</a>
      <a href="https://www.givey.com/contact">Contact</a>
      <a href="https://www.givey.com/">&copy; Givey 2015</a>
    </div>
    <br />
    <div class="text-center social-links">
      <p>
        Follow us on
        <a href="https://www.twitter.com/GiveyHQ">
          <span class="icon icon-twitter"></span>
        </a>
        <a href="https://www.facebook.com/GiveyHQ">
          <span class="icon icon-facebook-official"></span>
        </a>
        <a href="https://www.instagram.com/GiveyHQ">
          <span class="icon icon-instagram"></span>
        </a>
      </p>
    </div>

  </div>
</div>
