#footer {
  @include sizing(padding-bottom, 70px);
  @include sizing(padding-top, 110px);

  .footer-links {
    @include sizing(line-height, 14px);
    @include sizing(margin-bottom, 8px);

    a {
      @include soft-bold;
      @include sizing(font-size, 14px);
      @include sizing(margin, 0, 15px);
      color: $givey-dark-grey;
    }

  }

  .footer-sub-links {
    @include sizing(line-height, 12px);

    a {
      @include soft-medium;
      @include sizing(font-size, 14px);
      @include sizing(margin, 0, 7px, 60px);
      color: $givey-grey;
    }
  }

  .social-links {
    margin-top: 15px;

    p {
      font-size: 14px;
      margin-bottom: 0;
    }

    a {
      vertical-align: middle;
    }

    .icon {
      font-size: 24px;
      padding-left: 10px;
    }

    .icon-facebook-official {
      color: $facebook-blue;
    }

    .icon-twitter {
      color: $twitter-blue;
    }

    .icon-instagram {
      color: $instagram-blue;
    }

    .icon-rss {
      color: $rss-orange;
    }
  }
}
